@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$lavender_blue:  #b8c0c8;//#d8dcff;
$max_blue_purple: #FF9900;//#AEADF0;
$rosy_brown: #000000;//C38D94;
$arosy_dust: #000000;//A76571;
$independance_blue:  #000000;//#565676;

body {
    margin: 0;
    padding: 0; 
    font-family: 'Lato', sans-serif;
    // background-color: $lavender_blue;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: $independance_blue;
    border: none;
    margin: 0;
    z-index: 20;
    .navbar-brand {
        height: auto;
        width: 10%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.5em;
            font-weight: bold;
            width: 150px;
            height: auto;
            // .logo {
            //     width: 100%;
            //     height: 50%;
            //     padding: 10px;
            // }
        }
    }
    .hamburger-menu {
        margin-right: 40px;
        cursor: pointer;
    }
    .navbar-menu {
        min-width: 40%;
        .search{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            input {
                width: 70%;
                height: 30px;
                border-radius: 25px;
                border: 1px solid #ccc;
                padding: 0px 10px;
                font-size: 1.2em;
                font-weight: bold;
                outline: none;
            }
            button {
                width: 20%;
                height: 30px;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 0px 10px;
                font-size: 1.2em;
                font-weight: bold;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}


.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        .row {
            flex: 1;
            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                // padding-left: 25rem;
                // font-size: 48px;
                margin-bottom: 20px;
                margin-right: 125px;;
                text-shadow: 0px 0px 1px $rosy_brown;
                color: $arosy_dust;
                .main-tag {
                    font-size: 45px;
                }
                .tag {
                    font-size: 18px;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            .search{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                input {
                    width: 90%;
                    height: 60px;
                    border-radius: 15px;
                    border: 1px solid #b8c0c8;
                    padding: 0px 10px;
                    font-size: 1.2em;
                    font-weight: bold;
                    outline: none;
                    padding-left: 47px;
                    color: #000000;
                }
                button {
                    width: 55px;
                    height: 55px !important;
                    border-radius: 5px;
                    border: 1px solid #b8c0c8;
                    padding: 0px 10px;
                    font-size: 1.2em;
                    font-weight: bold;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    background: #FF9900;
                    height: 65px;
                    border-radius: 50%;
                    padding-right: 20px;
                    padding-top: 9px;
                    margin-top: 0px;
                    margin-left: 10px;
                    box-shadow: 2px 2px 10px $lavender_blue;
                    img {
                        height: 40px;
                    }
                }
            }
        }
    }

    #wave {
        margin-top: -5px;
        z-index: -10;
        position: absolute;
    }
}

.details-page {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
        display: flex;
        flex-direction: column;
        align-items:  left;
        // padding: 10px;
        .trackingData {
            display: block;
            background-color: $max_blue_purple;
            color: #fff;
            border-radius: 0px 0px 75% 0px;
            // padding-left: 40px;
            flex: 1;
            left: 0;
            h2, h3 {
                margin-left: 40px;
            }
        }
        .bread_crumb {
            flex: 1;
            left: 0;
        }
    }
}

.tracking-input {
    display: block;
    height: 300px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px $lavender_blue;
    span {
        width: 100%;
        padding-left: 100px;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

// tracker css
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid rgb(65, 170, 65);
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: rgb(40, 139, 40);
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

.details-page {
    .content {
        width: 100% !important;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid $lavender_blue;
        // background-color: $lavender_blue;
        thead {
            background-color: $independance_blue;
            color: white;
        }
        tr {
            border-bottom: 1px solid $lavender_blue;
            height: 50px;
            td {
                padding: 10px;
                text-align: left;
                font-size: 16px;
                text-align: center;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}


@media only screen and (min-width: 851px) {
    ul.navbar-menu-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        margin-right: 50px;
        list-style: none;
        li {
            margin-right: 20px;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
    #wave {
        top: 7%;
    }
    .main {
        .col {
            .row {
                height: 700px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .details-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content {
            width: 100%;
            flex-direction: row;
            .trackingData {
                top: 0;
                z-index: 1;
                width: 100%;
                flex: 1;
                width: 50%;
                border-radius: 0px 0px 300px 0px;
            }
            .bread_crumb {
                width: 50%;
                flex: 1;
                margin-top: 50px;
                margin-bottom: 60px;
            }
        }
        table {
            margin-top: 50px;
            width: 75%;
        }
    }
}

@media only screen and (max-width: 850px) {
    .navbar-menu {
        position: absolute;
        z-index: 1;
        margin-top: 186px;
        background-color: $independance_blue;
        width: 100%;
        padding: 0;
        box-shadow: 00px 10px 10px rgba(0, 0, 0, 0.5);
        transition: 1s;
        ul.navbar-menu-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: white;
            list-style: none;
            width: 100%;
            padding: 0;
            li {
                padding: 5px 0px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.5em;
                    font-weight: bold;
                }
            }
        }
    }
    #wave {
        display: none;
    }

    .main {
        .col {
            flex-direction: column;
            .row {
                margin-top: 100px;
                width: 90%;
                padding-left: 5%;
                .content{
                    padding: 0;
                    margin-left: 0px;
                }
                .info {
                    img {
                        width: 100%;
                    }
                    // padding-left: 3%;
                }
            }
            .row :nth-child(2) {
                margin-top: 0px;
            }
        }
    }
    .trackingData {
        top: 0;
        z-index: 1;
        width: 100%;
    }
    .bread_crumb {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    ol.progtrckr li.progtrckr-done:before {
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 4.2em;
    }
    ol.progtrckr li:before {
        bottom: -3.10em;
    }
    ol.progtrckr li:before {
        content: "\00a0\00a0";
    }

    .tracking-row{
        padding: 0 !important;
        margin: 0;
        margin-bottom: 10px;
    }
}